/*html{
	width: 100%;
	overflow: auto;
}*/

body{
	margin: 1%;
	padding: 0;
	background-color: #f4d309;
	/*width: 100%;*/
}
									@media (max-width: 620px){	
										body {
											/*overflow: hidden;*/
											margin: 0;
											background-color: #fff;
										}
									}

.header {
	/*width: 100%;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	padding: 9px;
}

									@media (max-width: 620px){	
										.header {
											flex-wrap: wrap;
											padding: 0;
										}
									}

.header-Cidade {
	width: 100%;
	display: flex;
	align-items: center;	
	font-family: 'FrutigerNextLT-Bold', sans-serif, arial;
	font-size: 1.25em;
	color: #005e96;
	text-align: left;
	letter-spacing: 0.1em;	
}

.header-Cidade img {
	width: 20px;
	margin: 12px;
}

							@media (max-width: 620px){	
								.header-Cidade img{
									width: 35px;
									/*margin-left: 38px;*/
								}
							}

.header-btn {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 95%;
}
							@media (max-width: 620px){	
									.header-btn {
										flex-direction: column;
										justify-content: center;
										margin:0 auto;
										font-size: 2em;
								}
							}


.header button {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	background-color: #008acb;
	color: #fff;
	font-family: 'FrutigerNextLT', sans-serif, arial;
	font-weight: bold;
	font-size: 1em;
	margin: 16px;
	border-radius: 7px;
	height: 3.4em;	
	width: 18em;
	text-align: left;
	border: 0;
}

								@media (max-width: 620px){	
									.header button {
										margin: 12px;
										width: 100%;
									}
								}

.imprimir{
	width: 20px;
	margin: 0 0.5em;
}
								@media (max-width: 620px){
									.imprimir {
										width: 1em;
										/*margin-right: 15%;*/
									}
								}
								@media (max-width: 620px){
									.p {
										margin-right: 14%;
									}
								}

.baixarPlanilha{
	width: 18px;
	margin: 0 0.5em;
}

								@media (max-width: 620px){
									.baixarPlanilha {
										width: 0.90em;
									}
								}

main{
	background-color: #fff;
}

table{
	 width: 95%;
	 
}

.table{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
								@media (max-width: 620px){	
									.table{
										margin: 5%;
										border-style: none;
										width: 90%;
										}
									}


.table-title{
	background-color: #008acb;
	color: #fff;
	height: 50px;
	font-family: 'FrutigerNextLT', sans-serif, arial;
	font-weight: bold;
	font-size: 1em;
}

									@media (max-width: 620px){	
											.table-title{
												display: none;
											}
										}

.table-title-tipo{
	margin: 0 auto;
  	padding: 20px;
  	text-align: left;
  	width: 14%;
}

.table-title-ciclo{
	margin: 0 auto;
  	padding: 20px;
  	text-align: left;
  	width: 8%;
}

.table-title-indicadores{
	margin: 0 auto;
  	padding: 20px;
  	text-align: left;
  	width: 54%;
}

.table-title-pontuação{
	width: 9%;
}

.table-title-resultado{
	width: 9%;
}												

.table-linha{
	background-color: #ededed;
	height: 50px;
	color: #005e96;
}

									@media (max-width: 620px){	
											.table-linha{
												display: none;
											}
										}

.table-linha-descriçao{
	margin: 0 auto;
  	padding: 20px;
  	font-family: 'FrutigerNextLT', sans-serif, arial;
	font-size: 0.9em;
	text-align: left;
	width: 54%;
}

.table-linha-ciclo{
	margin: 0 auto;
  	padding: 20px;
  	font-family: 'FrutigerNextLT', sans-serif, arial;
	font-size: 0.9em;
	text-align: left;
	width: 8%;
}

.table-linha-topico{
	margin: 0 auto;
  	padding: 20px;
  	font-family: 'FrutigerNextLT', sans-serif, arial;
	font-size: 0.9em;
	text-align: left;
	font-weight: bolder;
	width: 14%;

}

.table-linha-resultado{
	text-align: center;
	font-family: 'FrutigerNextLT', sans-serif, arial;
	font-size: 0.9em;
	font-weight: bold;
	width: 9%;
}


 .table-linha-pontuação{
 	text-align: center;
 	font-family: 'FrutigerNextLT', sans-serif, arial;
	font-size: 1em;
	width: 9%;
 }

 .table-gestaoEscolar{
 	 display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 12px 0;
 }



.comentário{
	display: none;
}
					@media (max-width: 620px){
						.comentário {
							display: block;
							font-family: 'FrutigerNextLT', sans-serif;
							font-size: 1.75em;
							color: #555555;
							text-align: center;
							line-height: 1.4em;
							width: 100%;
							}
					}	

.pontuaçãoFinal{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

						@media (max-width: 620px){
							.pontuaçãoFinal{
								justify-content: center;
								align-items: center;
								flex-direction: column;
								}
							}

.pontuaçãoFinal-participantes {
	width: 30%;
	height: 30px;
	background-color: #008acb;
	border-collapse: collapse;
	font-family: 'FrutigerNextLT', sans-serif, arial;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
	margin: 20px;
}

						@media (max-width: 620px){
							.pontuaçãoFinal-participantes{
								width: 100%;
								font-size: 1.75em;
								height: 100px;
								margin: 0;
							}
						}


.pontuaçãoFinal-participantes-descrição {
	width: 20%;
	height: 30px;
	border: 2px solid #fff;
	border-spacing: 5px;
	border-collapse: collapse;
	text-align: left;
	padding: 20px;
}
							@media (max-width: 620px){
								.pontuaçãoFinal-participantes-descrição{
									width: 75%;					 													
									text-align: left;
								}
							}

.pontuaçãoFinal-participantes-resultado {
	width: 8%;
	border: 2px solid #fff;
	border-spacing: 10px;
	text-align: center;
	font-weight: bold;
}

					@media (max-width: 620px){
						.pontuaçãoFinal-participantes-resultado{
							width: 20%;
							text-align: center;
							order: 2px solid #fff;
							font-family: 'FrutigerNextLT-Bold', sans-serif, arial;
						}
					}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 40px 0;
	font-family: 'FrutigerNextLT', sans-serif, arial;
}

							@media (max-width: 620px){
								.footer {
									margin: 32px 0;
								}
							}

.footer-texto{
	color: #005e96;
	text-align: center;
	font-size: 1.25em;
}

							@media (max-width: 620px){
								.footer-texto {
									width: 100%;
									margin:0;
								}
							}
