*, *:before, *:after{
	box-sizing:border-box;
	position:relative;
}
html, body{
	overflow: auto;
}
body {
	width: 100%;
	margin: 0;	
}

@media (max-width: 640px){
	body{
		overflow: hidden;
	}
}
#header {
	min-height:100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@media (max-width: 640px){
	#header{
		padding-bottom: 20%; 
	}
}
.nav-menu{
	z-index: 1;
	position: relative;
	top: 0;
	width: 100%;
}
@media (max-width: 640px){
	.nav-menu{
		display: none;
	}	
}
.menu{
	display: flex;	
}
.menu a{
	text-decoration: none;
}
.itens-menu{
	margin: 18px;
	list-style: none;
	font-family: 'FrutigerNextLT-Light', sans-serif, arial;
	/*font-weight: 300;*/
	font-size: 1em;
	color:#007DC5;
	text-align: left;
}
.header-logo {	
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	margin-right:2%;	
	width: 20%;
}

@media (max-width:640px){
	.header-logo{
		display:none;
	}
}

.header-iniciativa {
	font-family: 'FrutigerNextLT-Light', sans-serif, arial;
	/*font-weight: 300;*/
	font-size: 0.8em;
	color: #ADADAD;
	text-align: left;
	margin: 3px 0;
}

/*@media (max-width:640px){
	.header-iniciativa{
		display:none;
	}
}*/

.header-logo img {
	width: 70%;
}

/*@media (max-width:640px){
	.header-logo img{
		display:none;
	}
}*/

.home {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

@media (max-width:640px){
	.home{
		flex-direction:column;
		align-items:center;
	}
}
.img-home{
	/*height: 400px;*/
	width: 36%;
	padding:5px;
}
@media (max-width:640px){
	.img-home{
		width:90%;
		/*padding: 5px; */
	}
}
.div-content-home{
	width: 47%;
	margin:6px;
	padding: 40px;
}

@media (max-width:640px){
	.div-content-home{
		width:90%;
		margin:0px;
		padding:0px;
		
	}
}
.home-titulo{
	font-family: 'FrutigerNextLT', sans-serif, arial;
	/*font-weight: 900;*/
	font-size:1.6em;
	color:#007DC5;
}

@media (max-width:640px){
	.home-titulo{
		margin:0;
		padding:0;
	}
}

.home-descricao{
	font-family: 'FrutigerNextLT-Light', sans-serif, arial;
	/*font-weight: 300;*/
	font-size:1em;
	color:#007DC5;
	line-height: 1.4em;
}

@media (max-width:640px){
	.home-descricao{
		flex-direction: row;
		font-size:1em;
		line-height:1em;
	}
}

.div-home-pesquisa{
	min-height: 48px;
	margin-right:10px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;

}

@media (max-width:640px){
	.div-home-pesquisa{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin: 0;
	}
}

.div-pesquisa{
	font-family:'FrutigerNextLT-Bold', sans-serif, arial;
	/*font-weight: 700;*/
	font-size:1em;
	color:#fff;
	text-align:center;
	text-decoration: none;
	width:48%;
	min-height: 100%; 
	background-color:#008ACB;
	border-radius:5px;
	padding:10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width:640px){
	.div-pesquisa{
		width:100%;
		margin: 5px 0; 
	}
}
#sec-pesquisa{
	min-height:100vh;
	background: url(Assets/ilustra1.png) no-repeat 8% 28%, url(Assets/ilustra2.png) no-repeat 104% top;
	background-size: 20%, 25%;
	/*background-color:rgba(238, 201, 0, 0.9);*/
	background-color:#F4D309;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}	
@media (max-width: 640px){
	#sec-pesquisa{
		background:#F4D309 ;
	}
}
.img-pesquisa{
	display: none;
}
@media (max-width: 640px){
	.img-pesquisa{
		display: block;
		width: 90%;
		margin-top: 10%;
	}
}
.titulo-pesquisa{
	font-family: 'FrutigerNextLT-Bold', sans-serif, arial;
	/*font-weight: 500;*/
	font-size: 2em;
	text-align: left;
	color:#005E96;
	width: 35%;
	margin: 10px 0;
}

@media(max-width:640px){
	.titulo-pesquisa{
		width: 90%;
		margin:0;
	}
}

.p-pesquisa{
	font-family: 'FrutigerNextLT-Bold', sans-serif, arial;
	/*font-weight: 700;*/
	font-size: 1em;
	line-height: 1.4em;
	text-align: left;
	color:#005E96;
	width: 35%;
	margin: 5px 0;
	margin-bottom: 30px;
}

@media(max-width:640px){
	.p-pesquisa{
		width: 90%;
	}
}

.pesquisa{
	height:60px;
	width:38%;
	display:flex;
	justify-content:center;
}

@media(max-width:640px){
	.pesquisa{
		width: 90%;
		height: 70px;
	}
}

.input{
	font-family: 'FrutigerNextLT-Light', sans-serif, arial;
	/*font-weight: 300;*/
	font-size: 1em;
	background:#fff;
	color:#afafaf;
	text-align: left;
	width: 100%;
	border:none;
	border-radius:5px;
	padding-left: 5%;
}

.resultado-pesquisa{
	display:flex;
	justify-content:center;
	align-items: center;
	width:38%;
	background-color:#008acb;
	/*opacity: 0.8;*/
	border-radius:5px;
	margin-top: 7px;
}

@media(max-width:640px){
	.resultado-pesquisa{
		width: 90%;
		height: 70px;
	}
}

.resultado-pesquisa-p{
	font-family: 'FrutigerNextLT-Bold', sans-serif, arial;
	/*font-weight: 700;*/
	font-size:1em;
	color:#ffffff;
	text-align: left;
	margin:0;
	padding:20px;
	text-decoration:none;
}
.codigo-invalido{
	font-family: 'FrutigerNextLT-Light', sans-serif, arial;
	/*font-weight: 300;*/
	font-size: 1em;
	color:#005e96;
	text-align: left;
	text-decoration:none; 
	margin-top: 17px;
}
.conteiner-linha-do-tempo{
	display: flex;
	align-items: flex-end;
	height: 15vh;
	margin-top:100px;
}
@media(max-width: 640px){
	.conteiner-linha-do-tempo{
		height: auto;
		margin:0;
		margin-left: 100px;
		width: 50%;

		/*background-color: blue;*/
	}
}
.linha-do-tempo{
	display:flex;
	justify-content: space-between;
    border-top: 1.5px dashed #EA8C1C;
    padding-left: 0;
    margin: 0;
}
@media(max-width: 640px){
	.linha-do-tempo{
		flex-direction: column;
		border:none;
		border-left: 1.5px dashed #EA8C1C;
		justify-content: flex-start;
		align-content: space-between;
	}
}
.item-linha-do-tempo{
	width: 15%;
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	position: relative;
	top:-35px;
}
@media(max-width: 640px){
	.item-linha-do-tempo{
		flex-wrap: nowrap;
		width: 100%;
		top:0;
		left: -50%;
		align-items: baseline; 

		/*background-color: pink;*/
	}
}
.item-linha-do-tempo-ano{
	width: auto;
	top:-45px;
}
@media (max-width: 640px){
	.item-linha-do-tempo-ano{
		/*width: auto;*/
		top:0px;
	}	
}
.ano-timeline{
	background-color:#F4D309;
	font-family: 'FrutigerNextLT-Light', sans-serif, arial;
	/*font-weight: 300;*/
	font-size: 1em;
	color: #EA8C1C;
}
.mes-timeline{
	font-family: 'FrutigerNextLT-Light', sans-serif, arial;
	/*font-weight: 300;*/
	font-size: 1em;
	color: #005e96;
	text-align: center;
	width: 100%;
	margin-bottom: 5px;
}
.mes-timeline-vigente{
	font-family: 'FrutigerNextLT-Bold', sans-serif, arial;
	/*font-weight: 700;*/
}
.circulo-timeline-v{
	border-radius: 50%;
	background-color: #EA8C1C;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.circulo-timeline-v-vigente{
	width: 30px;
	height: 30px;
}
.circulo-timeline-v img{
	width:15px;
}

.circulo-timeline {
	width: 20px;
	height: 20px;
	background: #F4D309;
	border: 1.5px solid #EA8C1C;
	border-radius: 50%;
}

.descricao-timeline {
	font-family: 'FrutigerNextLT-Light', sans-serif, arial;
	/*font-weight: 300;*/
	font-size: 1em;
	color: #005e96;
	text-align: center;
	margin-top: 10px;
}

.fim {
	position: absolute;
	right: 0;
	background: #F4D309;
	height: 100%;
	width: 50%;

	/*background: red;*/
}
#sec-premio{
	min-height: 100vh;
	/*max-height: 220vh;*/
	background:url(Assets/ilustra4.png) no-repeat top right;
	background-size: 12%;
	background-color: #008acb;
	/*opacity: 0.9;*/
	
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
@media (max-width: 640px){
	#sec-premio{
		background:#008acb; 
	}
}
.titulo-premio{
	font-family: 'FrutigerNextLT-Bold', sans-serif, arial;
	font-weight: 900;
	font-size: 2em;
	text-align: left;
	color:#fff;
	width: 90%;
	text-align: center;
	/*background-color: red;*/
}

@media (max-width: 640px){
	.titulo-premio{

	}
}
.div-sec-premios{
	position: relative;
	width: 36%;
	margin: 10px;

	/*background-color: red;*/
}

@media(max-width:640px){
	.div-sec-premios{
		width: 110em;
	}
}
.div-sec-premios h3{
	font-family:'FrutigerNextLT-Bold', sans-serif, arial;
	font-size: 1.5em;
	color: #fff;
	text-align: left;
	margin: 20px 40px;

}

@media (max-width: 640px){
	.div-sec-premios h3{
	 	/*left:5px;*/
	}
}

.destaque-numero{

	font-size: 1.69em;
	position: absolute;
	top:-8px;
	left: -50px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: dotted 2px #000;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

@media (max-width: 640px){
	.destaque-numero{
		position: absolute;
		top:2px;
		left: -45px;
		margin-left: 80%;

	}
} 
.p-premios{
	font-family: 'FrutigerNextLT-Light', sans-serif, arial;
	/*font-weight: 300;*/
	font-size: 1em;
	color: #fff;
	text-align: left;
	line-height: 1.4em;
	margin: 0px 5%;
}
@media(max-width: 640px) {
	.p-premios{
		width: 95%;
	}
}
.p-catpremios-bold{
	font-family: 'FrutigerNextLT-Bold', sans-serif, arial;
	/*font-weight: 700;*/
}
.etapas {
	font-family: 'DK Dirrrty';
	font-weight: 400;
	font-size: 1.75em;
	color: #ffffff;
	text-align: left;
	margin: 0px 40px;
	margin-bottom: 3%;
}


.div-premios{
	width: 100%;
	background-color: #fff;
	color:#00f;
	border-radius: 3px;
	padding: 10px 40px;
	margin: 0px;
	margin-top: 3%;

}
.div-premios h3{
	font-family: 'FrutigerNextLT-Bold', sans-serif, arial;
	/*font-weight: 700;*/
	font-size: 1.06em;
	color: #005e96;
	text-align: left;
	line-height: 1.6em;
	margin: 0;
	margin-bottom: 30px;
} 
.div-premios p{
	font-family: 'FrutigerNextLT-Light', sans-serif, arial;
	/*font-weight: 300;*/
	font-size: 1.06em;
	line-height:1.4em;
	color: #005e96;
	text-align: left;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 18px;
}
.regulamento-do-premio{
	display:flex;
	justify-content:center;
	align-items: center;
	width:38%;
	background-color:#F4D309;
	border-radius:5px;
	margin: 3% 0;
}

@media(max-width:640px){
	.regulamento-do-premio{
		display: none;
	}
}

.p-regulamento-do-premio{
	font-family: 'FrutigerNextLT-Bold', sans-serif, arial;
	/*font-weight: 700;*/
	font-size: 1em;
	color: #005e96;
	text-align: left;
	margin:0;
	padding:20px;
	text-decoration:none;
}

@media(max-width:640px){
	.p-regulamento-do-premio{
		display: none;
	}
}
.asset-top{
	transform: rotate(180deg);
}


#sec-pve{
	min-height: 100vh;
	padding-top: 5%;
	background-color: tomato;
	/*opacity:0.9;*/
	display: flex;
	justify-content: center;
	align-items: center;

}

@media (max-width: 640px){
	#sec-pve{
		flex-direction:row-reverse;
		flex-flow: column-reverse nowrap;
	}
}

.div-pve-descricao {
	width: 31%;
	margin-right: 5%;
	/*background: blue;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

@media(max-width: 640px){
	.div-pve-descricao{
		width: 90%;
		margin: 5px;
		padding:10px;
	}
}
.titulo-pve{
	font-family: 'FrutigerNextLT-Bold', sans-serif, arial;
	/*font-weight: 700;*/
	font-size:1.5em;	
	color:#005E96;
	text-align:left;
	margin: 0;
	margin-bottom: 10px;	
}

@media (max-width: 640px){
	.titulo-pve{

	}
}

.p-pve{
	font-family: 'FrutigerNextLT-Light', sans-serif, arial;
	font-weight: 300;
	font-size:1em;
	line-height: 1.4em;	
	color:#005E96;
	text-align:left;
}

@media (max-width: 640px){
	.p-pve{

	}
}

.img-pve {
	width: 70%;
	height: auto;
	margin-top: 3%;
	margin-left: 10%;
}

@media (max-width: 640px){
	.img-pve{
		width:100%;
		margin:0 0;

	}
}
.video{
	width: 50%;
	height: 55vh;

}

@media (max-width: 640px){
	.video{
		width: 100%;
		height:40vh;
		padding:15px;
	}
}
#sec-vainaweb{
	width:100%;
	min-height:90vh;
	/*max-height: 90vh;*/
	background-color:#f2f2f2;
	/*opacity:0.8;*/
	padding: 3%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
}

@media (max-width: 640px){
	#sec-vainaweb{
		flex-direction: column;
	}
}
.div-vainaweb{
	display:flex;
	flex-direction: column;

}

@media (max-width: 640px){
	.div-vainaweb{
		flex-direction:column-reverse;
	}
}
.div-fto-dev{
	width: 85%;
	display: flex;
	justify-content: center;
	align-items: center;
	/*background-color: red;*/
}

@media (max-width: 640px){
	.div-fto-dev{
		width: 90%;
		
	}
}

.fto-dev{
	width:13%;
	margin:3%;
	/*height: auto;*/
}

@media (max-width: 640px){
	.fto-dev{
		width:18%;
		margin-left:5%;
	}
}

.logo-vnw {
	width:20%;
	margin-right: 5%;
	display: none;

}

@media (max-width: 640px){
	.logo-vnw{
		width: 30%;
		margin-left: 30%;
		display:block;
	}
}
.logo-vnw-2{
	width: 20%;
	right: 40px;
	display:block;
}

@media (max-width: 640px){
	.logo-vnw-2{
		display:none;
	}
}
.div-content-vainaweb{
	/*display: flex;*/
	width:40%;
}

@media (max-width: 640px) {
   .div-content-vainaweb{
   		width: 90%;
   		margin-left:5%;
	}
}

.titulo-vainaweb{
	/*width: 50%;*/
	font-family: 'FrutigerNextLT-Bold', sans-serif, arial;
	/*font-weight: 700;*/
	font-size:1.5em;
	color:#005E96;
	text-align:left;
}

@media (max-width: 640px){
	.titulo-vainaweb{
		
	}
}

.p-vainaweb{
	/*width: 50%;*/
	font-family: 'FrutigerNextLT-Light', sans-serif, arial;
	/*font-weight: 300;*/
	font-size:1em;
	color:#005E96;
	text-align:left;
}

@media (max-width: 640px){
	.p-vainaweb{

	}
}

#rodape{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media (max-width: 640px){
	#rodape{
		width: 78vh;
		flex-wrap: wrap;
	}
}	

.div-rodape{
	width: 75%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

@media (max-width: 640px){
	.div-rodape{
		width: 90%;
		margin-left: 30%;
	}
}

.p-rodape{
	width: 100%;
	margin-top: 2em;
	margin-bottom: 1em;
	font-family: 'FrutigerNextLT-Light', sans-serif, arial;
	/*font-weight: 300;*/
	font-size: 0.8em;
	color:#ADADAD;
	text-align: center;
}

@media (max-width: 640px){
	.p-rodape{

	}
}

.div-rodape img {
	max-width: 170px;
	margin: 0 7px;
}

@media (max-width: 640px){
	.div-rodape img{
		width: 100px;
	}
}

.img-diferent{
	width: auto;
	height: 90px;
}

@media (max-width: 640px){
	.img-diferent{

	}
}

.div-parceiros img {
	width: 130px;
	margin: 0 30px;
}

@media (max-width: 640px){
	.div-parceiros img{

	}
}