body{
	margin: 1%;
	padding: 0;
	background-color: #f4d309;

}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	padding:2.10%;
	

}
.header-btn{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #fff;
	
}

.header-Cidade{
	color: #005e96;
	font-size: 1.2em;
	font-weight: bold;
	display: flex;
	justify-content:flex-start;
	align-items: center;

	

	
}

.header-Cidade img {
	width: 1.2em;
}


.header button{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	background-color: #008acb;
	color: #fff;
	font-size: 1em;
	margin: 2%;
	border-radius: 7px;
	width: 42%;
}

.header-btn button img {
	width: 10%;
	margin: 5%;
	/*margin: 4%;*/
}


main{
	background-color: #fff;
}


table{
	 width: 95%;
}

.table{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border-collapse: collapse;
	background-color: #ededed;
	background-color: #fff;
	border: 1px;
}

.table-title{
	background-color: #008acb;
	color: #fff;
	padding: 20px;
	height: 50px;
}

.table-title-Um{
	margin: 0 auto;
  	padding: 20px;
  	text-align: left;
  	width: 18%;
}

.table-title-Dois{
	margin: 0 auto;
  	padding: 20px;
  	text-align: left;
  	width: 37%;
}

.table-title-Tres{
	width: 13%;
}

.table-cabeçario-descriçao{
	margin: 0 auto;
  	padding: 20px;
}

.table-cabeçario{
	background-color: #ededed;
	height: 50px;
	color: #005e96;
}

.table-cabeçario-resultado{
	text-align: center;
	font-weight: bolder;
}

.table-cabeçario2{
	background-color: #e2e2e2;
	height: 50px;
	color: #005e96;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;	
	flex-direction: row;
	height: 50%;
	color: #005e96;
	border: 0.50px;
	width: 95%;
	padding: 2.4%;
	border:  1px;
}

.footer-participantes{
	width: 30%;
	height: 50px;
	background-color: #ededed;
	border-collapse: collapse;
	text-align: center;
}

.footer-participantes td{
	border: 2px solid #fff;
	border-spacing: 5px;
	border-collapse: collapse;
	width: 5%;
	text-align: center;
}

 .table-cabeçario-média{
 	text-align: center;
 }



/*.footer-participantes{
	display: flex;	
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	background-color: #ededed;
	border: solid black 2px;
}*/