body{
	margin: 1%;
	padding: 0;
	background-color: #f4d309;

}

.header {

}
.header-btn{
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	background-color: #fff;
	width: 100%;
}

.header-Cidade{
	color: #005e96;
	font-size: 1.2em;
	font-weight: bold;
	align-items: center;
	display: flex;
	margin-right: 48%;
}

.header-Cidade img {
	width: 1.2em;
}


.header button{
	background-color: #008acb;
	color: #fff;
	font-size: 100%;
	margin: 1%;
	border-radius: 7px;
	width: 15%;
	height: 10%;
}

.header-btn button img {
	width: 10%;
	/*margin: 4%;*/
}


main{
	background-color: #fff;
}


table{
	 width: 95%;
}

.table{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border-collapse: collapse;
	background-color: #ededed;
	background-color: #fff;
	border: 1px;
}

.table-title{
	background-color: #008acb;
	color: #fff;
	padding: 20px;
	align-items: center;
	height: 50px;
}

.table-cabeçario{
	background-color: #ededed;
	height: 50px;
	color: #005e96;
}

.table-cabeçario2{
	background-color: #e2e2e2;
	height: 50px;
	color: #005e96;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;	
	flex-direction: row;
	height: 50%;
	color: #005e96;
	border: 0.50px;
	width: 95%;
	padding: 2.5%;
	border:  1px;
}

.footer-participantes{
	width: 27%;
	height: 50px;
	background-color: #ededed;
	border-collapse: collapse;
	text-align: center;
}

.footer-participantes td{
	border: 2px solid #fff;
	border-spacing: 5px;
	border-collapse: collapse;
	width: 5%;
}



/*.footer-participantes{
	display: flex;	
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	background-color: #ededed;
	border: solid black 2px;
}*/