*, *:before, *:after{
	box-sizing:border-box;
	position:relative;
}

body {
	width: 100%;
}

/*.header-section {
	background:#fff;
	height:100vh;
}*/

.header {
	min-height:100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header-logo {	
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	margin-right:2%;	
	width: 20%;
}
.header-iniciativa {
	font-family: 'FrutigerNextLT';
	font-size: 0.8em;
	color: #ADADAD;
	text-align: left;
	margin: 3px 0;
}
.header-logo img {
	width: 70%;
}
.home {
	display: flex;
	justify-content: center;
}
.img-home{
	width:36%;
	padding:5px;
}
.div-content-home{
	width: 47%;
	margin:6px;
	padding: 40px;
}

.home-titulo{
	font-family: 'FrutigerNextLT';
	/*font-weight: normal;*/
	font-size:1.6em;
	color:#007DC5;
}
.home-descricao{
	font-family: 'FrutigerNextLT';
	font-weight: lighter;
	font-size:1em;
	color:#007DC5;
	line-height: 1.4em;
}
.div-home-pesquisa{
	height: 48px;
	margin-right:10px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.button-home-pesquisa{
	font-family:'FrutigerNextLT';
	/*font-weight: lighter;*/
	font-size:1em;
	color:#fff;
	text-align:center;
	width:48%;
	min-height: 100%; 
	border:none;
	background-color:rgba(0,138,203,0.9);
	border-radius:5px;
	/*margin:10px 0;*/
	padding:10px;
}


.content-pesquisa{
	min-height:100vh;
	background: url(Assets/ilustra1.png) no-repeat left center, url(Assets/ilustra2.png) no-repeat right top;
	background-size: 20%, 25%;
	/*background-color:rgba(238, 201, 0, 0.9);*/
	background-color:#EEC900;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}	

.titulo-pesquisa{
	font-family: 'FrutigerNextLT';
	font-weight: 900;
	font-size: 2.3em;
	text-align: left;
	color:#005E96;
	width: 35%;
	margin: 10px 0;
}

.p-pesquisa{
	font-family: 'FrutigerNextLT';
	font-weight: 700;
	font-size: 1em;
	line-height: 1.4em;
	text-align: left;
	color:#005E96;
	width: 35%;
	margin: 5px 0;
	margin-bottom: 30px;
}
.pesquisa{
	height:60px;
	width:38%;
	display:flex;
	justify-content:center;
}
.input{
	font-family: 'FrutigerNextLT';
	font-weight: 300;
	font-size: 1em;
	background:#fff;
	color:#afafaf;
	text-align: left;
	width: 100%;
	border-radius:5px;
	padding-left: 5%;
}

.resultado-pesquisa{
	display:flex;
	justify-content:center;
	align-items: center;
	width:38%;
	background-color:#0000CD;
	border-radius:5px;
	margin-top: 7px;
}
.resultado-pesquisa-p{
	font-family: 'FrutigerNextLT';
	font-weight: 700;
	font-size:1em;
	color:#ffffff;
	text-align: left;
	margin:0;
	padding:20px;
	text-decoration:none;
}
.codigo-invalido{
	font-family: 'FrutigerNextLT';
	font-weight: 300;
	font-size: 1em;
	color:#005e96;
	text-align: left;
	text-decoration:none; 
	margin-top: 17px;
}
.conteiner-linha-do-tempo{
	display: flex;
	align-items: flex-end;
	height: 15vh;
	margin-top:100px;

}
.linha-do-tempo{
	display:flex;
	justify-content: space-between;
    border-top: 1.5px dashed #FF8400;
    padding-left: 0;
    margin: 0;
    /*width: 80%;*/

    /*background-color: #fff;*/
}
.item-linha-do-tempo{
	width: 15%;
	list-style: none;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	align-items: center;
	position: relative;
	top:-35px;

	/*background-color: red;*/
}
.item-linha-do-tempo-ano{
	width: auto;
	top:-45px;
}
.ano-timeline{
	/*background-color:rgba(238, 201, 0, 0.5);*/
	background-color:#EEC900;
	color: #FF8400;
	/*background-color: red;*/

}
.mes-timeline{
	font-family: 'FrutigerNextLT';
	font-weight: 300;
	font-size: 1em;
	color: #005e96;
	text-align: center;
	width: 100%;
	margin-bottom: 5px;
}
.mes-timeline-vigente{
	font-weight: 700;
}
.circulo-timeline-v{
	border-radius: 50%;
	background-color: #FF8400;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.circulo-timeline-v-vigente{
	width: 30px;
	height: 30px;
}
.circulo-timeline-v img{
	width:15px;
}

.circulo-timeline {
	width: 20px;
	height: 20px;
	background: #EEC900;
	border: 1.5px solid #FF8400;
	border-radius: 50%;
}

.descricao-timeline {
	font-family: 'FrutigerNextLT';
	font-weight: 300;
	font-size: 1em;
	color: #005e96;
	text-align: center;
	margin-top: 10px;
	/*align-self: flex-end;*/


	/*background-color: rgba(0,0,0,0.5);*/
}
.fim {
	position: absolute;
	right: 0;
	background: #EEC900;
	height: 100%;
	width: 50%;
	/*align-self: flex-end;*/
	/*background-color: red;*/
}
.sec-premio{
	fill: solid;
	opacity: 0.9;
	min-height: 100vh;
	max-height: 200vh;
	background:url(Assets/ilustra4.png) no-repeat top right;
	background-size: 10%;
	background-color: #008acb;
	color:#fff;

	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.titulo-sec-premio{
	width: 90%;
	text-align: center;
	/*background-color: red;*/
}


.categorias-premios{
	position: relative;
	/*background-color: red;*/
	width: 35%;
	margin: 10px;
}
.categorias-premios h3{
	font-family:'FrutigerNextLT', black;
	font-size: 1.5em;
	color: #ffffff;
	text-align: left;
	margin:0;
	margin-left: 40px;

	} 
.categorias-premios p{
	font-family:  'FrutigerNextLT', light;
	font-size: 1em;
	color: #ffffff;
	text-align: left;
	margin:5%;
	margin-left: 40px;
	line-height: 98%;
	margin-bottom: 30px;

}
.etapas {
	font-family: 'DK Dirrrty';
	font-size: 1.75em;
	color: #ffffff;
	text-align: left;
}
.destaque-numero{
	font-family: 'FrutigerNextLT',black;
	font-size: 1.69em;
	position: absolute;
	top:0;
	color: #ffffff;
	text-align: left;
	left: -40px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: dotted 2px #000;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.frente-de-atuacao {
	font-family: 'FrutigerNextLT' , bold;
	font-size: 1em;
	color: #ffffff;
	text-align: left;
	margin:0px;
	margin-top: 4px;
	margin-bottom: 4px;
	font-weight:bold;
	display: flex;
	flex-wrap: wrap;
}
.div-premios{
	fill: solid;
	stroke: #ffffff;
	background-color: #fff;
	color:#00f;
	opacity: 0.68;
	padding: 15px;
	margin: 8px;
	margin-top: 4px;

}
.div-premios h3{
	margin: 0;
	font-family: 'FrutigerNextLT' , bold;
	font-size: 1.06em;
	color: #005e96;
	text-align: left;
	line-height: 8px;
	margin-top: 8px;
	margin-bottom: 18px;
	} 
.div-premios p{
	
	margin: 0;
	font-family: 'FrutigerNextLT' , light;
	font-size: 1.06em;
	color: #005e96;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 18px;
}
.regulamento-do-premio{
	display:flex;
	justify-content:center;
	align-items: center;
	width:32%;
	background-color:#FFFF00;
	border-radius:5px;
	margin-top: 7px;
}
.regulamento-do-premio-p{
	font-family: 'FrutigerNextLT',bold;
	font-size: 1em;
	color: #005e96;
	text-align: left;
	margin:0;
	padding:20px;
	text-decoration:none;
}
.asset-top{
	transform: rotate(180deg);
}


.sec-premiopve{
	opacity:0.8;
	min-height: 80vh;
	padding-top: 5%;
	background-color: tomato;
	display: flex;
	justify-content: center;
	align-items: flex-start;

}
.premiopve-descricao {
	font-family: 'FrutigerNextLT';
	font-size:1.2em;	
	color:#005e96;
	text-align:left;
	width: 31%;
}
.premiopve-descricao img {
	width: 50%;
	height: 40%;
}
./*video{
	width:50%;
	height: 50%;
	margin-left: 10px;
	background-color: blue;
	
}*/
.sec-vainaweb{
	width:100%;
	min-height:80vh;
	max-height: 90vh;
	background-color:#fff;
	opacity:0.8;
	padding: 10%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	/*align-items: center;*/
	align-content: flex-start;
}
.sec-vainaweb img {
	width: 45%;
	margin-right: 3%;
}
.sec-vainaweb h2, .sec-vainaweb p{
	width: 50%;
	font-family: 'FrutigerNextLT';
	font-size:1.2em;
	color:#005e96;
	text-align:left;
}

.sec-vainaweb p{
	font-family: 'FrutigerNextLT';
	font-size:1em;
}

.roda-pe{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}
.div-iniciativa{
}
.iniciativa{
	padding:10px;
}
.div-iniciativa img{
	width:100px;

}
.div-realizacao{

}
.realizacao{
 display:flex;

}
.div-realizacao img{
	width:100px;

}
.div-parceiros{

}
.parceiros{

}
.div-parceiros img{
	width: 100px;
} 	