body {
	padding: 0;
	margin: 0;
}

.content-pesquisa{
	background-color: yellow;
}

.content-premio{
	background-color: blue;
}

.content-institutoVotorantim{
	background-color: pink;
}

.content-vaiNaWeb{
	background-color: yellow;
}